/* 
# ***************************
# *         GENERIC         *
# ***************************
*/
a {
  text-decoration: none;
  color: currentColor;
}
/* 
# ***************************
# *         SECTION         *
# ***************************
*/

/* ?        HEADER       */
header {
  height: 80px;
  background-color: #ffffff;
}
/* logo */
header div img:first-child {
  max-width: 47px;
  max-height: 100%;
}
header div img:last-child {
  margin: 0 9px;
}
/* button campanella notifiche */

/* 
header .btn.show,
.btn {
  --bs-btn-border-width: 0px;
} */

/*          MAIN         */
main {
  height: calc(100vh - 80px);
}
/* ?        SIDEBAR      */
#sidebar {
  width: 150px;
  height: 100%;

  color: white;
  background-image: url(../img/sidebar-bg.png);
  background-size: cover;
  background-color: #051e34;
}

/* ?        MAIN-CONTENT      */
#main-content {
  width: calc(100% - 150px);
  height: 100%;
  overflow-x: auto;
}

/* MAIN-HEADER */
#main-header {
  background-color: #1b72e8;
  color: white;
}

/* ?        MAIN-BODY      */

.table img {
  width: 25px;
}

/* 
# *********************************
# *         MODIFICATORI          *
# *********************************
*/
.breadcrumb-item + .breadcrumb-item::before {
  content: "";
  font-family: FontAwesome;
  padding-top: 3px;
}

.breadcrumb-item + .breadcrumb-item.active::before {
  content: "\f101";
  color: white;
}
.form-control {
  border: 0;
  background-color: #e5e5e5;
}
.input-group-text {
  background-color: #e5e5e5;
  border: 0;
}

#main-header .badge {
  background-color: #165bba;
  --bs-badge-font-weight: 0;
}

#breadcrumb-menu li#plus-group {
  display: none;
}

.list-group-item + .list-group-item {
  border-top-width: 1px;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 
# *********************************
# *         MEDIA QUERY           *
# *********************************
*/

/* *      MOBILE & TABLET  (DA TABLET A MOBILE)    */
@media screen and (max-width: 991px) {
  #sidebar {
    width: 50px;
  }
  #main-content {
    width: calc(100% - 50px);
  }
  #breadcrumb-menu li:not(:first-child):not(#plus-group) {
    display: none !important ;
  }
  #breadcrumb-menu li#plus-group {
    display: inline-block !important ;
  }
}
/* *      DESKTOP IN SU      */
@media screen and (min-width: 768px) {
  #col-tab-primary {
    width: 50% !important;
  }
}

/* 
# ***************************
# *         DEBUG           *
# ***************************
*/

.debug {
  background-color: yellow;
  min-height: 10px;
}

.debug #sidebar {
  background-color: lightcoral;
}

.debug #main-content {
  background-color: lightblue;
}

.debug #main-content .container-fluid {
  min-height: 20px;
  background-color: bisque;
  border: 1px dashed black;
}

.debug .box {
  min-height: 20px;
  background-color: red;
  border: 1px dashed black;
}
