/* 
# ***************************
# *         GENERIC         *
# ***************************
*/

/* 
# ***************************
# *         SECTION         *
# ***************************
*/

/* ?        HEADER       */
header {
  height: 80px;
  background-color: #ffffff;
}
/* logo */
header div img:first-child {
  max-width: 47px;
  max-height: 100%;
}
header div img:last-child {
  margin: 0 9px;
}
/* button campanella notifiche */
/* 
header .btn.show,
.btn {
  --bs-btn-border-width: 0px;
} */

/*          MAIN         */
/* ?        SIDEBAR      */
#sidebar {
  width: 100px;
  height: calc(100vh - 80px);
  color: white;
  background-image: url(../img/sidebar-bg.png);
  background-size: cover;
  background-color: #051e34;
}

.main-content {
  width: calc(100% - 100px);
  height: calc(100vh - 80px);
  overflow-x: auto;
}

/* 
# *********************************
# *         MODIFICATORI          *
# *********************************
*/

.form-control {
  border: 0;
  background-color: #e5e5e5;
}
.input-group-text {
  background-color: #e5e5e5;
  border: 0;
}

/* 
# *********************************
# *         MEDIA QUERY           *
# *********************************
*/

/* *      MOBILE        */
@media screen and (max-width: 991px) {
  #sidebar {
    width: 50px;
  }
  .main-content {
    width: calc(100% - 50px);
  }
}

/* 
# ***************************
# *         DEBUG           *
# ***************************
*/

.debug {
  background-color: yellow;
  min-height: 10px;
}

.debug .sidebar {
  background-color: lightcoral;
}

.debug .main-content {
  background-color: lightblue;
}

.debug .main-content .container-fluid {
  min-height: 20px;
  background-color: bisque;
  border: 1px dashed black;
}

.debug .box {
  min-height: 20px;
  background-color: red;
  border: 1px dashed black;
}
